include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        header.main
            .container.navbar
                .logo
                    img(src="assets/images/logo.png", alt="")
                    .text
                        span Studio Perfect Stone
                        small Дениса Корианова
                .graphic
                    b Работаем по всей России
                    span Пн.—Пт. с 9:00 до 18:00
                .contacts.phone 
                    a(href="")  +7 (963) 995-21-50
                    .soc-wrapper
                        a(href="").telegram
                        a(href="").whatsapp
                        a(href="").viber   
            .menu.main
                .container
                    a(href="") Продукция 
                    a(href="") Палитра
                    a(href="") О компании
                    a(href="") Отзывы
                    a(href="") Работы
                    a(href="") Вакансии
                    a(href="") Контакты

        section.main-sect
            .container
                .wrapper
                    h1 
                        |Изготовим мебель
                        |и предметы интерьера
                        |из 
                        span искусственного камня
                    .pluses-wrapper
                        .plus.time От 3-х дней
                        .plus.shield Гарантия до 10 лет
                    button.btn.big Узнать стоимость
            .slider-wrapper
                .container
                    .slider
                        .image-pattern
                            img(src="assets/images/main_slider/1.jpg", alt="")
                        .image-pattern
                            img(src="assets/images/main_slider/1.jpg", alt="")
                        .image-pattern
                            img(src="assets/images/main_slider/1.jpg", alt="")
                    .nav
        section.tv-partners
            .container
                span Являемся партнерами телеканалов:
                img(src="assets/images/tv/1.png", alt="")
                img(src="assets/images/tv/2.png", alt="")
                img(src="assets/images/tv/3.png", alt="")
                img(src="assets/images/tv/4.png", alt="")
                img(src="assets/images/tv/5.png", alt="")
        <svg class="svg">
            <clipPath id="image-clip" clipPathUnits="objectBoundingBox">
                <path d="M0.935,0.002,0.052,0.183 C0.021,0.189,0.001,0.204,0.001,0.22 L0,0.978 C0,0.99,0.021,1,0.046,1 A0.052,0.028,0,0,0,0.065,0.998 L0.954,0.816 c0.028,-0.006,0.046,-0.019,0.046,-0.033 v-0.761 C1,0.01,0.979,0,0.954,0 A0.052,0.028,0,0,0,0.935,0.002"></path>
            </clipPath>
        </svg>



        include pug/scripts.pug