include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        header.main
            .container.navbar
                .logo
                    img(src="assets/images/logo.png", alt="")
                    .text
                        span Studio Perfect Stone
                        small Дениса Корианова
                .graphic
                    b Работаем по всей России
                    span Пн.—Пт. с 9:00 до 18:00
                .contacts.phone 
                    a(href="")  +7 (963) 995-21-50
                    .soc-wrapper
                        a(href="").telegram
                        a(href="").whatsapp
                        a(href="").viber   
            .menu.main
                .container
                    a(href="") Продукция 
                    a(href="") Палитра
                    a(href="") О компании
                    a(href="") Отзывы
                    a(href="") Работы
                    a(href="") Вакансии
                    a(href="") Контакты

        section.main-sect
            .container
                .wrapper
                    h1 
                        |Изготовим мебель
                        |и предметы интерьера
                        |из 
                        span искусственного камня
                    .pluses-wrapper
                        .plus.time От 3-х дней
                        .plus.shield Гарантия до 10 лет
                    button.btn.big Узнать стоимость
            .slider-wrapper
                .container
                    .slider
                        .image-pattern
                            img(src="assets/images/main_slider/1.jpg", alt="")
                        .image-pattern
                            img(src="assets/images/main_slider/1.jpg", alt="")
                        .image-pattern
                            img(src="assets/images/main_slider/1.jpg", alt="")
                    .nav
        section.tv-partners
            .container
                span Являемся партнерами телеканалов:
                img(src="assets/images/tv/1.png", alt="")
                img(src="assets/images/tv/2.png", alt="")
                img(src="assets/images/tv/3.png", alt="")
                img(src="assets/images/tv/4.png", alt="")
                img(src="assets/images/tv/5.png", alt="")
        section.products_type
            .container
                h2.title Делаем из искусственного камня
                .wrapper
                    .type
                        img(src="assets/images/products_type/1.jpg", alt="")
                        span Общественный интерьер
                        button.btn Подробнее
                    .type
                        img(src="assets/images/products_type/1.jpg", alt="")
                        span Общественный интерьер
                        button.btn Подробнее
                    .type
                        img(src="assets/images/products_type/1.jpg", alt="")
                        span Общественный интерьер
                        button.btn Подробнее
                    .type
                        img(src="assets/images/products_type/1.jpg", alt="")
                        span Общественный интерьер
                        button.btn Подробнее
                    .type
                        img(src="assets/images/products_type/1.jpg", alt="")
                        span Общественный интерьер
                        button.btn Подробнее
                    .type
                        img(src="assets/images/products_type/1.jpg", alt="")
                        span Общественный интерьер
                        button.btn Подробнее
        section.sect-quote
            .container
                h2.title Познакомимся поближе?
                .quote-wrapper
                    .quote
                        p Я Денис Корианов, основатель "Студии Совершенного Камня» и бренда мебели из искусственного камня SP STONE, автор канала на УоuTube и блога #studiiakamnia в Instagram.
                        p Мы работаем с искусственным камнем с 2003 года. Изготавливаем изделия на своих производственных площадях в Москве, участвуем в телепроектах "Школа ремонта", "Идеальный ремонт", "Чистая работа", "Дачный ответ", "Фазенда лайф".
                        p В нашем офисе более 1000 образцов кварцевого и акрилового камня от 16 производителей, а среди выполненных работ есть такие, за которые не возьмутся другие компании.
                .video-wrapper
                    .col
                        span Посмотрите видео, чтобы узнать больше <br> о нашей студии искусственного камня
                    .col
                        <div class="plyr__video-embed" id="player">
                            <iframe src="https://www.youtube.com/embed/bTqVqk7FSmY?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
                        </div>
        section.sect_quiz
            .container
                .wrapper
                    .item
                        img(src="assets/images/icons/card_1.png", alt="")
                        span.text <b>В нашем офисе более 1000 образцов</b> акрилового и кварцевого камня от 16 производителей
                    .item
                        img(src="assets/images/icons/card_2.png", alt="")
                        span.text <b>Изготовим в указанный в договоре срок, </b> не успеем — монтаж бесплатно
                    .item
                        img(src="assets/images/icons/card_3.png", alt="")
                        span.text <b>Опыт 19 лет, свое производство</b>, эксперты каналов “ТНТ”, “Первый”, “НТВ”
                .quiz-wrapper
                    img(src="assets/images/bg/quiz.jpg", alt="")
        section.sect_comparison
            img.bg(src="assets/images/bg/123.jpg")
            .container
                .wrapper
                    h2.title Сравним материалы
                    p Многие клиенты не доверяют искусственному камню, а зря. Искусственный Камень разработали для того, чтобы сделать материал похожий на натуральный Камень, только без его недостатков.
                    p Искусственный акриловый Камень - это экстракт белой глины, акриловая смола и цветовой пигмент. Он ремонтопригодный, не впитывает влагу и грязь, а трещины и царапины легко шлифуются и полируются.
                    p Натуральный Камень и кварцевый агломерат отполировать в условиях квартиры или починить не получится. Но зато он более выносливый и прочный.
                    .author
                        span Светлана Корианова,<br>директор по развитию
        section.sect-table
            .container
                .table
                    .col
                        .th Камень
                        .tr Внешний вид
                        .tr Видимость швов
                        .tr Экологическая безопасность (Европа)
                        .tr Долговечность
                        .tr Устойчивость к высоким температурам
                        .tr Устойчивость к бытовым загрязнениям
                        .tr Не впитывает влагу и запахи
                        .tr Ремонтопригодность
                        .tr Изготовление сложных изделий (мебель, раковины, ванны)
                        .tr Стоимость 1 м2 материала
                    .col
                        .th Кварцевый агломерат
                        .tr 
                            .ok
                        .tr Видны
                        .tr 
                            .ok
                        .tr 
                            .ok
                        .tr До 160 С
                        .tr 
                            .ok
                        .tr 
                            .ok
                        .tr
                            .er
                        .tr 
                            .ok
                        .tr
                            b от 40 000 р.
                    .col
                        .th Акриловый
                        .tr 
                            .ok
                        .tr Не видны, иск. мраморная коллекция.
                        .tr 
                            .ok
                        .tr 
                            .ok
                        .tr До 90 С
                        .tr 
                            .ok
                        .tr 
                            .ok
                        .tr
                            .ok
                        .tr 
                            .ok
                        .tr
                            b от 40 000 р.
                    .col
                        .th Натуральный <small>(мрамор/гранит)</small>
                        .tr 
                            .ok
                        .tr Видны
                        .tr 
                            .ok
                        .tr 
                            .ok
                        .tr До 200 С
                        .tr 
                            .er
                        .tr 
                            .er
                        .tr
                            .er
                        .tr 
                            .ok
                        .tr
                            b от 25 000 р.
                    .col
                        .th Литьевой <small>(жидкий акрил)</small>
                        .tr 
                            .ok
                        .tr Не видны, иск. мраморная коллекция.
                        .tr 
                            .er
                        .tr 
                            .er
                        .tr До 50 С
                        .tr 
                            .ok
                        .tr 
                            .er
                        .tr
                            .er
                        .tr 
                            .ok
                        .tr
                            b от 10 000 р.
                            
                        


        <svg class="svg">
            <clipPath id="image-clip" clipPathUnits="objectBoundingBox">
                <path d="M0.935,0.002,0.052,0.183 C0.021,0.189,0.001,0.204,0.001,0.22 L0,0.978 C0,0.99,0.021,1,0.046,1 A0.052,0.028,0,0,0,0.065,0.998 L0.954,0.816 c0.028,-0.006,0.046,-0.019,0.046,-0.033 v-0.761 C1,0.01,0.979,0,0.954,0 A0.052,0.028,0,0,0,0.935,0.002"></path>
            </clipPath>
        </svg>



        include pug/scripts.pug