@mixin font($fontName, $fileName, $weight, $style) 
{
    @font-face {
        font-family: $fontName;
        font-display: swap;
        src: url("../fonts/#{$fileName}.woff") format("woff"), url("../fonts/#{$fileName}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import 'fonts';
@import 'core';
@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';
@import '../../node_modules/plyr/dist/plyr.css';