:root 
{
    --plyr-color-main: #6c930b;
}

body
{
    margin: 0;
    color: #000;
    background: #fff;
    font-family: "OpenSans";
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

header 
{
    .navbar
    {
        padding: 15px 0;
    }
    .container
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo
    {
        display: flex;
        align-items: center;

        img 
        {
            margin-right: 15px;
        }

        .text
        {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            span
            {
                font-weight: 600;
                font-size: 21px;
            }

            small
            {
                font-size: 16px;
            }
        }
    }

    .graphic
    {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        b
        {
            font-size: 15px;
        }

        span
        {
            font-size: 14px;
        }
    }

    .contacts.phone
    {
        font-size: 18px;
        padding-left: 20px;
        position: relative;
        margin-top: 20px;

        .soc-wrapper
        {
            display: flex;
            position: absolute;
            right: 0;
            bottom: 100%;
            a 
            {
                width: 24px;
                height: 24px;
                display: block;
                background-size: cover;
                margin-left: 5px;
            }

        }
    }

    .contacts.phone:after
    {
        content: '';
        background: url(../images/icons/phone.png);
        width: 11px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.telegram
{
    background-image: url(../images/icons/telegram.png);
}

.viber
{
    background-image: url(../images/icons/viber.png);
}

.whatsapp
{
    background-image: url(../images/icons/whatsapp.png);
}

header.main
{
    .container
    {
        padding-right: 400px;
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.menu
{
    position: relative;
    padding: 10px 0;

    .container
    {
        display: flex;

        a
        {
            margin-right: 25px;
        }
    }

}

.menu:after
{
    content: '';
    width: 100%;
    height: 100%;
    background: #f6ede6;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.menu.main:after
{
    left: -500px;
}

section.main-sect
{
    padding-top: 230px;
    padding-bottom: 100px;
    position: relative;

    .wrapper
    {
        padding-right: 400px;
        position: relative;

        h1
        {
            font-size: 50px;
            font-weight: 700;
            line-height: 70px;

            span
            {
                color: #6c930b;
            }
        }
    }

    .pluses-wrapper
    {
        padding-left: 50px;
        display: flex;
        padding: 20px 0 20px 50px;
        position: relative;
        margin-bottom: 50px;

        .plus
        {
            font-size: 20px;
            margin-right: 20px;
            padding-left: 55px;
            position: relative;
        }

        .plus:after
        {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .plus.time:after
        {
            width: 37px;
            height: 44px;
            background: url(../images/icons/plus1.png);
        }

        .plus.shield:after
        {
            width: 35px;
            height: 37px;
            background: url(../images/icons/plus2.png);
        }
    }

    .pluses-wrapper:after
    {
        content: '';
        width: 100vw;
        position: absolute;
        height: 1px;
        background: #6c930b;
        top: 0;
        bottom: 0;
        right: 98%;
        margin: auto;
    }

    .slider-wrapper
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 105;
        height: 100%;
        width: 100%;
        pointer-events: none;

        .container
        {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            position: relative;
        }

        .image-pattern
        {
            padding-bottom: 50px;
            margin-top: -150px;
            
            img
            {
                clip-path: url(#image-clip);
                width: 310px;
                height: 650px;
                object-fit: cover;
                filter: grayscale(100%);
            }

        }

        .slick-active
        {
            img
            {
                filter: grayscale(0%);
            }
            
        }

        .slider
        {
            width: 310px;
            height: 100%;
            pointer-events: all;
            margin-right: 60px;
            
            .slick-list
            {
                height: 100%!important;
            }
        }

        .nav
        {
            pointer-events: all;
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            button
            {
                width: 45px;
                height: 45px;
                padding: 0;
                background: url(../images/icons/slide-nav-bg.png) no-repeat;
                background-size: cover;
                transition: 0.5s;
                margin-bottom: 15px;
                position: relative;
                outline: none;
                border-radius: 100%;
                border: 2px solid rgba(0,0,0,0);
            }

            button:hover, #next
            {
                background: rgba(0,0,0,0);
                width: 55px;
                height: 55px;
                border: 2px solid #6c930b;
                
            }

            button:after
            {
                content: url(../images/icons/slide-nav-arrow.png);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s;
            }

            #next:after
            {
                transform: translate(-45%, -35%);
                content: url(../images/icons/slide-nav-arrow-big.png);
            }

            button:hover:after
            {
                transform: translate(-45%, -65%) rotate(180deg);
                content: url(../images/icons/slide-nav-arrow-big.png);
            }
        }

        .nav:after
        {
            content: "";
            position: absolute;
            top: -15px;
            transform: translateY(-100%);
            width: 2px;
            height: 100vh;
            background-color: #6c930b;
        }
    }
}

.btn
{
    border: none;
    font-size: 18px;
    font-family: "OpenSans";
    background: rgb(140,189,17);
    background: linear-gradient(180deg, rgba(140,189,17,1) 0%, rgba(108,147,11,1) 100%);
    color: #fff;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #546e12;
    text-transform: uppercase;
}

.btn.big
{
    padding: 15px 40px;
}

.svg 
{
    position: absolute;
    pointer-events: none;
    left: -500px;
}

section.tv-partners
{
    background: #f4f4f4;
    padding: 25px 0;

    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span
        {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.title
{
    font-size: 40px;
}


section.products_type
{
    .wrapper
    {
        display: flex;
        flex-wrap: wrap;

        .type
        {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 15px;

            img
            {
                width: 100%;
                border-radius: 15px;
            }

            span
            {
                font-size: 18px;
                font-weight: 700;
                margin: 20px 0;
            }
        }
    }
}

section.sect-quote
{
    overflow-y: hidden;
    .quote
    {
        width: 60%;
        position: relative;
        font-size: 18px;
    }

    .quote:after
    {
        content: url(../images/icons/quote.png);
        position: absolute;
        right: 100%;
        top: 0;
        padding-right: 25px;
    }

    .quote:before
    {
        content: url(../images/icons/quote.png);
        position: absolute;
        left: 100%;
        bottom: 0;
        padding-left: 25px;
        transform: rotate(180deg);
    }

    .quote-wrapper
    {
        position: relative;
    }

    .quote-wrapper:after
    {
        content: '';
        position: absolute;
        right: 100px;
        top: -90px;
        background-image: url(../images/quote.png);
        width: 300px;
        height: 460px;
        background-size: 145%;
        background-position: center top;
    }

    .video-wrapper
    {
        display: flex;
        flex-wrap: wrap;

        .col
        {
            width: 50%;
        }

        .col:first-child
        {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: right;
            padding-right: 40px;
            font-weight: 700;

            span
            {
                position: relative;
            }

            span:after
            {
                content: url(../images/icons/video_arrow.png);
                position: absolute;
                right: -20px;
                bottom: -50px;
            }
        }
    }
}

section.sect_quiz
{
    background: url(../images/bg/1.jpg);
    .container
    {
        .wrapper
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 45px 20px;
            background: #fff;

            .item
            {
                display: flex;
                align-items: center;
                width: 30%;
                font-size: 15px;

                img
                {
                    margin-right: 10px;
                }
            }
        }

        .quiz-wrapper
        {
            padding: 70px 0;
        }
        
    }
}

section.sect_comparison
{
    position: relative;
    padding: 70px 0;

    .container
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .wrapper
        {
            width: 60%;
            padding: 40px;
        }

        .author
        {
            text-align: right;
            font-weight: 700;
        }

    }

    .bg
    {
        position: absolute;
        bottom: 0;
        right: 57%;
    }
}

section.sect-table
{
    padding: 70px 0;
    .table
    {
        display: flex;
        flex-wrap: wrap;
        background: #f5f7f8;

        .col
        {
            width: 20%;
            transition: 0.5s;

            .th, .tr
            {
                height: 85px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;

                small
                {
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .th
            {
                height: 95px;
                font-size: 22px;
                font-weight: 700;
            }

            .tr
            {
                font-size: 14px;
                justify-content: center;
                border-top: 1px solid #eceff1;

                b
                {
                    font-size: 16px;
                    font-weight: 700;
                }
            }

            .ok
            {
                width: 26px;
                height: 19px;
                background: url(../images/icons/check.png);
            }

            .er
            {
                width: 22px;
                height: 22px;
                background: url(../images/icons/close.png);
            }
        }

        .col:first-child
        {
            .tr
            {
                background: #eceff1;
            }
        }

        .col:hover
        {
            background: #fff;
        }
    }
}

section.about_us
{
    background: #f5f7f8;

    .wrapper
    {
        display: flex;
        flex-wrap: wrap;

        .col:nth-child(2)
        {
            width: 44%;

            img
            {
                width: 100%;
            }
        }

        .col:first-child
        {
            width: 55%;

            display: flex;
            flex-direction: column;
            

            .title
            {
                display: flex;
                flex-direction: column;

                small
                {
                    font-weight: 400;
                    font-size: 23px;
                }
            }

            .item
            {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 25px;

                .img-wrapper
                {
                    width: 120px;
                }

                .text
                {
                    width: 75%;
                    font-size: 18px;
                }
            }
        }
    }
}

section.your_project
{
    .wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .img-wrapper
        {
            width: 50%;
        }

        .text
        {
            width: 40%;
        }

        .img-wrapper
        {
            img 
            {
                width: 100%;
            }

            .names
            {
                display: flex;
                justify-content: space-around;
                padding: 20px;
                font-size: 15px;
            }
        }

        .text
        {
            font-size: 18px;

            p 
            {
                margin: 40px 0;
            }
        }
    }
}

.contacts-wrapper
{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tel b 
    {
        font-weight: 800;
    }

    .icon
    {
        width: 60px;
        height: 60px;
        display: block;
    }
}

footer
{
    padding: 70px;
    background: #3e2723;
    color: #fff;

    .container
    {
        display: flex;
        justify-content: space-between;

        ul
        {
            margin: 0;

            li
            {
                margin-bottom: 20px;
                font-size: 15px;
            }

            li:last-child
            {
                margin-bottom: 0;
            }

            li:hover
            {
                color: #c9e574;
                a 
                {
                    color: #bcaaa4;
                }
            }
        }

        .instagram
        {
            display: flex;
            flex-direction: column;

            a
            {
                margin-top: 25px;
            }
        }

        .contacts-col
        {
            display: flex;
            flex-direction: column;

            .icon
            {
                margin-left: 10px;
            }

            .email
            {
                margin: 25px 0;
            }

            button
            {
                height: 75px;
                border: none;
                border-radius: 5px;
                background: rgba(246, 237, 230, 0.1);
                color: #fff;
                font-size: 16px;
                font-weight: 700;
            }
        }

    }
}

@import 'responce';